@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,300;0,400;0,700;1,400&display=swap");

input {
  border: none;
  border-radius: 5px;
  padding: 5px 60px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: "Neuton", serif;
  font-size: 22px;
  outline: none;
  margin-bottom: 40px;
  background-image: url("search_icon.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 10px;
  box-shadow: 3px 3px pink;
}

.Dictionary-header {
  padding: 40px 0px 10px;
  background-color: #fc9483;
  text-align: center;
  margin-bottom: 30px;
}

.Dictionary-header h1 {
  font-size: 80px;
  color: white;
  font-family: "Pacifico", cursive;
  text-shadow: 3px 3px pink;
  margin-bottom: 10px;
}

.Dictionary-header h3 {
  font-size: 24px;

  color: white;
  margin: 50px auto 20px;
}

@media (max-width: 440px) {
  .Dictionary-header h1 {
    font-size: 50px;
  }

  .Dictionary-header h3 {
    font-size: 20px;
    margin: 30px auto 15px;
  }

  input {
    padding: 5px 25px;
  }
}
