.Part-of-speech {
  font-weight: 600;
  font-size: 25px;
}

.Meaning {
  font-size: 20px;
}

.Example {
  font-size: 20px;
  margin-left: 20px;
  font-style: italic;
}

.Synonym {
  font-size: 18px;
}

.Result {
  padding: 20px 30px;
  max-width: 800px;
  margin-left: 30px;
  background-color: #d7e5f0;
  margin: 0 auto 30px;
  box-shadow: 3px 3px #b7cee0;
}

.Result:hover {
  transform: translate(5%);
}

@media (max-width: 820px) {
  .Result {
    margin: 13px 20px;
  }
}
