.Part-of-speech {
  font-weight: 600;
  font-size: 25px;
}

.Meaning {
  font-size: 20px;
}

.Example {
  font-size: 20px;
  margin-left: 20px;
  font-style: italic;
}

.Synonym {
  font-size: 18px;
}

.Result {
  border: 2px solid #e5e4db;
  padding: 20px 30px;
  margin-bottom: 15px;
}

.Result:hover {
  background-color: #e5e4db;
}
