@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,300;0,400;0,700;1,400&display=swap");

body {
  font-family: "Neuton", serif;
}

.Word {
  font-size: 40px;
}

.Phonetic {
  font-size: 30px;
  font-style: oblique;
}

.Word-section {
  text-align: center;
  color: #212529;
  max-width: fit-content;
  margin: 0px auto 50px;
  border-top: 2px solid #b7cee0;
  border-bottom: 2px solid #b7cee0;
  padding: 20px 50px;
}

@media (max-width: 440px) {
  .Word {
    font-size: 30px;
  }
  .Phonetic {
    font-size: 25px;
  }

  .Word-section {
    padding: 10px 25px;
    margin-bottom: 30px;
  }
}
